<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class=>"form-horizontal" }) do |f| %>
	<fieldset>
		<legend>登录</legend>
		
		  <div class="control-group">
		  	<%= f.label :email, :class => 'control-label' %>
	  		<div class="controls">
			  	<%= f.email_field :email %>
	  		</div>
		  </div>
		
			<div class="control-group">
		  	<%= f.label :password, :class => 'control-label' %>
	  		<div class="controls">
				  <%= f.password_field :password %>
	  		</div>
		  </div>
		
		  <% if devise_mapping.rememberable? -%>
		  		<div class="controls">
		  				<label class="checkbox">
				    		<%= f.check_box :remember_me %>
				    		<%= f.label :remember_me, '记住我' %>
		    			</label>
		    </div>
		  <% end -%>
		
		  <div class="controls">
		  		<%= f.submit "登录",  :class => 'btn btn-primary btn-large' %>
					<%= render "devise/shared/links" %>
		  </div>
	</fieldset>
<% end %>

