<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :room_num %>
  <%= f.input :order_name %>
  <%= f.input :order_phone, :as => :tel %>
  <!-- <%= f.input :checkin, :input_html => { :class => 'datepicker' } %> -->
  <%= f.input :checkin %>
  <%= f.input :checkout %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>