
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Link</th>
      <th>LinkText</th>
      <th>State</th>
      <th>Photo</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% banners.each do |banner| %>
      <tr>
        <td><%= link_to banner.title, banner_path(banner) %></td>
        <td><%= banner.desc %></td>
        <td><%= banner.link %></td>
        <td><%= banner.link_text %></td>
        <td><%= banner.state %></td>
        <td>
          <%= image_tag banner.attachment.attach.thumb if banner.attachment %>
        </td>
        <td>
          <% if banner.onshelf? %>
            <%= button_to "Off Shelf", offshelf_banner_path(banner) %>
            <a class="btn" href="<%= up_banner_path(banner) %>"><i class="icon-arrow-up"></i></a>
            <a class="btn" href="<%= down_banner_path(banner) %>"><i class="icon-arrow-down"></i></a>
          <% else %>
            <%= button_to "On Shelf", onshelf_banner_path(banner)  %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_banner_path(banner), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        banner_path(banner),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
