<%= simple_form_for @banner, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :desc, :as => :text, :input_html => { :rows => 6 } %>
  <%= f.input :link %>
  <%= f.input :link_text %>
  <%= f.input :start_date %>
  <%= f.input :stop_date %>

  <%= f.input :photo, :as => :file %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                banners_path, :class => 'btn' %>
  </div>
<% end %>
