<%= simple_form_for @room, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :desc, :as => :text, :input_html => { :rows => 10, :class => 'input-large' } %>
  <%= f.input :total %>
  <%= f.input :price %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rooms_path, :class => 'btn' %>
  </div>
<% end %>
