<div id="sidebar" style="position: fixed;">

  <span class="sidebarTop"></span>
  <div class="PriceRange pt5">
       <div id="priceRangeDescWrap" class="dn" style="display: block; ">价格</div>
       <div id="priceRangeWrap" class="c9"><em class="yen">¥</em><span class="Price pl5 pr5">368-1658</span>每晚</div>
    </div>

  <%= simple_form_for [@room, @order], :html => { :class => 'form-horizontal' } do |f| %>

    <%= f.input :room_num, :input_html => { :class => 'input-small' } %>
    <%= f.input :checkin, :as => :string, :input_html => { :class => 'datepicker input-small' } %>
    <%= f.input :checkout, :as => :string, :input_html => { :class => 'datepicker input-small' } %>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn submit' %>
    </div>
  <% end %>
  
   
</div>