<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class=>"form-horizontal" }) do |f| %>
	<fieldset>
		<legend>登录</legend>
		
		  <%= f.input :login, :placeholder => "邮箱或手机号码" %>
		  
		  <%= f.input :password %>
		
		  <% if devise_mapping.rememberable? -%>
		  		<div class="controls">
		  				<label class="checkbox">
				    		<%= f.check_box :remember_me %>
				    		<%= f.label :remember_me, '记住我' %>
		    			</label>
		    </div>
		  <% end -%>
		
			<%= f.button :submit, "登录" %>
			<%= render "devise/shared/links" %>

	</fieldset>
<% end %>

