<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class=>"form-horizontal" }) do |f| %>
	<fieldset>
		<legend>登录</legend>
		
		  <%= f.input :login, :placeholder => "邮箱或手机号码" %>
		  <%= f.input :password %>
		
		  <% if devise_mapping.rememberable? -%>
    		<%= f.check_box :remember_me %>
    		<%= f.label :remember_me, '记住我' %>
		  <% end -%>
		
		<div class="form-actions">
			<%= f.button :submit, "登录" %>
			<%= link_to image_tag('github.jpg', :title => 'Sign in with Github'), user_omniauth_authorize_path(:github) %>
			<br />
			<%= render "users/shared/links" %>
		</div>
	</fieldset>
<% end %>

